
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-dark indigo" [containerInside]="false" [iconBackground]="['amber', 'darken-2']">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Login</a>
            </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
  <div class="footer">
    <p>@2021 copyright</p>
    <a type="button" class="text mx-2">
        <mdb-icon fab icon="facebook"></mdb-icon>
    </a>
    <a type="button" class="text mx-2">
        <mdb-icon fab icon="twitter"></mdb-icon>
    </a>
    <a type="button" class="text mx-2">
        <mdb-icon fab icon="linkedin"></mdb-icon>
    </a>
    <a type="button" class="text mx-2">
        <mdb-icon fab icon="github"></mdb-icon>
    </a>
  </div>