




    <div class="flex-container">
    
        <!-- <div class="picture"> -->
            <h6>A delivery service you can depend on</h6>
            <br><br><br><br>
            <img src="../../assets/images/undraw_On_the_way_re_swjt.svg" style="width: 70%;height: 70%;" alt="">
            <h1>Mothusi</h1>
            <br><br><br><br>
            <button mdbBtn block="true" class="my-4" (click)="onClick()"  type="submit">Get Started</button>
            <br><br><br><br><br>
        </div>
    


    <!-- </div> -->

    

        <!-- Sign in button -->
       
        <!-- Register -->
        <!-- <p>Don't have an account?
            <a href="register" >Register now</a>
        </p> -->

        <!-- Social login -->
        <!-- <p>or sign in with:</p>

        <a type="button" class="text mx-2">
            <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
        <a type="button" class="text mx-2">
            <mdb-icon fab icon="google"></mdb-icon>
        </a>
        <a type="button" class="text mx-2">
            <mdb-icon fab icon="instagram"></mdb-icon>
        </a> -->

    <!-- </form> -->
