.containeru{
    background-image: url('https://uploads-ssl.webflow.com/5fcde4e51a805dfb70e489c4/609969e23a37d41c61071d4a_3-Box-Pamphlet.jpg');
    background-position: center;
    
    // width: 111px;
    display: flex;
    position: relative;
    height: 40vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-size: cover;
    
    
  
   
  }
  h4{
    text-align: center;
    color: white;
     }
    